# Python virtual environment #
##############################
bin
include
lib
local

# Django #
##########
*.py[co]
*.pot
*.db
*.egg
*.egg-info
*.coverage
*.log
*.swp
*~
local_settings.py

# Eclipse Metadata #
####################
.metadata/*
.project
.pydevproject
