body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial !important;
    font-size: 16pt;
}

h1#title {
    font-size: 85pt;
    color: #5200A3;
    padding: 0;
    margin: 0;
}

h1 a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

#tagline {
    color: black;
    font-size: 16pt;
    margin-left: 20px;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#wrapper #wrapper-content {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 100%;
}

#wrapper #wrapper-content #content {
    margin: 5px;
    text-align: center;
}

#wrapper #wrapper-header {
    /* gradients from colorzilla.com */
    background: -moz-linear-gradient(top, rgba(212,212,212,0.65) 0%, rgba(212,212,212,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,0.65)), color-stop(100%,rgba(212,212,212,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(212,212,212,0.65) 0%,rgba(212,212,212,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(212,212,212,0.65) 0%,rgba(212,212,212,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(212,212,212,0.65) 0%,rgba(212,212,212,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(212,212,212,0.65) 0%,rgba(212,212,212,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d4d4d4', endColorstr='#00d4d4d4',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 150px;
}

#wrapper #wrapper-header #header {
    width: 970px;
    height: 100%;;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#wrapper #wrapper-footer {
    width: 100%;
    height: 70px;
}

#wrapper #wrapper-footer #footer {
    width: 970px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}