<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block head %}{% endblock %}
    </head>
<body>
    <div id="wrapper">
        <div id="wrapper-header">
            <div id="header">
                {% block header %}{% endblock %}
            </div>
        </div>
        <div id="wrapper-content">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="wrapper-footer">
            <div id="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html> 