{% extends "feeds/base.html" %}

{% block title %}TossFeed{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/detail.css">
{% endblock %}

{% block content %}
{% if not object.token_shown %}
    <div id="token_label">
        <p>Your password for this feed is: <span id="token">{{ object.token }}</span></p>
        <p>Don't lose it, you need to to add to the feed.</p>
        <p id="bookmarklet">Drag the <a href="
javascript: (function () {
    script = document.createElement( 'script' );
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';
    script.onload=addToFeed;
    document.body.appendChild(script);
    function addToFeed() {
        $.ajax('http://' + '{{ host }}' + '/' + '{{ object.name }}' + '/add', {
            type : 'POST',
            data : {token : '{{ object.token }}', url : location.href},
        });
		document.body.removeChild(script);
    }
}());">
TossFeed {{ object.name }}</a> button to your bookmarks toolbar to easily add to your feed.</p>
    </div>
{% endif %}
<div id="feed-link">
    <a href="{% url 'feed' object.name %}">Go To Feed</a>
</div>
<table>
    <tr>
        <td class="label">
            Views
        </td>
        <td>
            {{ object.views }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Created
        </td>
        <td>
            {{ object.date_created|date:"Y-n-j, G:i" }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Last Post
        </td>
        <td>
            {{ object.date_last_posted|date:"Y-n-j, G:i" }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Last View
        </td>
        <td>
            {{ object.date_last_viewed|date:"Y-n-j, G:i" }}
        </td>
    </tr>
</table>
<div id="add-link">
    <a href="{% url 'add' object.name %}">Post More To This Feed</a>
</div>
{% endblock %}