{% extends "feeds/base.html" %}

{% block title %}TossFeed{% endblock %}

{% block content %}
{% if not object.token_shown %}
    <div id="token_label">
        <p>Your password for this feed is: <span id="token">{{ object.token }}</span>.</p>
        <p>You will need this password to add new items to the feed. It will only be shown this one time, so try not to lose it.</p>
    </div>
{% endif %}
<table>
    <tr>
        <td class="label">
            Views
        </td>
        <td>
            {{ object.views }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Created
        </td>
        <td>
            {{ object.date_created|date:"Y-n-j, G:i" }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Last Post
        </td>
        <td>
            {{ object.date_last_posted|date:"Y-n-j, G:i" }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Last View
        </td>
        <td>
            {{ object.date_last_viewed|date:"Y-n-j, G:i" }}
        </td>
    </tr>
</table>
<div id="add-link">
    <a href="{% url 'add' object.name %}">Post more to this feed</a>
</div>
{% endblock %}